@font-face {
  font-family: "Lora";
  src: url("Lora-VariableFont_wght.ttf");
  font-display: swap;
}

:root {
  --radius-lg: 1rem;
  --radius-md: 0.5rem;
  --radius-sm: 0.25rem;
  --radius-xs: 0.1rem;

  --gap-xl: min(11vw, 3rem);
  --gap-lg: min(6vw, 2rem);
  --gap-md: min(3vw, 1rem);
  --gap-sm: min(1vw, 0.5rem);
  --gap-xs: min(0.5vw, 0.25rem);

  --breakpoint: 768px;

  --screen-width: calc(100vw - 2 * var(--gap-lg));
  --page-width: min(1600px, var(--screen-width));
  --line-width: min(50rem, var(--screen-width));
  --aside-gap: var(--gap-lg);
  --aside-offset: calc(var(--line-width) + var(--aside-gap));
  --aside-width: calc(var(--page-width) - var(--aside-gap) - var(--aside-offset));

  --hue: 92deg;
}

* {
  --surface: oklch(97% 1% var(--hue));
  --onSurface: oklch(27% 1% var(--hue));
  --surfaceDim: oklch(93% 2% var(--hue));
  --onSurfaceDim: oklch(44% 4% var(--hue));

  --accentBright: oklch(58% 23% var(--hue));
  --accent: oklch(48% 23% var(--hue));
  --onAccent: oklch(100% 0% var(--hue));
  --accentContainer: oklch(92% 10% var(--hue));
  --onAccentContainer: oklch(40% 22% var(--hue));

  --outline: oklch(57% 3% var(--hue));
  --outlineDim: oklch(85% 0.1% var(--hue));

  box-sizing: border-box;
  border-top-left-radius: var(--radius-sm);
  border-top-right-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);

  font-family: "Lora", sans-serif;
  color: var(--onSurface);
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;

  margin: 0;
  padding: 0;
}

::selection {
  background: var(--onSurfaceDim);
  color: var(--surfaceDim);
}

html {
  overflow-x: hidden;
}

body {
  padding: 0 var(--gap-lg);
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  background: var(--surface);

  > header {
    max-width: var(--line-width);
    display: flex;
    gap: var(--gap-md);
    z-index: 100;
    border-radius: 0;
    background-color: var(--surface);
    align-items: center;
    margin-bottom: var(--gap-md);

    img {
      width: min(50vh, 200px);
      height: min(50vh, 200px);
    }

    &.sticky {
      background-color: transparent;
      backdrop-filter: blur(5px);
      position: sticky;
      top: 0;
      z-index: 99;
      margin-top: -130px;
      margin-bottom: 0;
      
      img {
        width: 72px;
        height: 72px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  > main {
    width: var(--page-width);
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    padding: 0;
  }

  > footer {
    width: var(--page-width);
    padding-bottom: var(--gap-lg);
  }
}

section {
  max-width: var(--line-width);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  &.tight {
    gap: var(--gap-md);
  }
}

.hidden {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

h1 {
  font-size: min(2rem, calc((var(--line-width) - var(--gap-md) - 72px) / 7));
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
