.__dimensions_badge_embed__ {
  .__dimensions_Badge_style_small_circle .__db_background {
    box-shadow: none !important;
  }

  .__dimensions_Badge_Legend_hover .__dimensions_Badge_Legend {
    border: 1px solid var(--outline) !important;
    box-shadow: none !important;
    background: var(--surface) !important;
    border-radius: var(--radius-sm) !important;
    color: var(--onSurface) !important;
  }
}

div.altmetric-embed[id^="_altmetric_popover_el"] div.altmetric_container div.altmetric-popover-inner {
  background: var(--surface) !important;
  border: 1px solid var(--outline) !important;
  border-radius: var(--radius-sm) !important;
  color: var(--onSurface) !important;
  box-shadow: none !important;

  .altmetric-popover-content {
    background: var(--surface) !important;
  }

  a.altmetric_details {
    color: var(--accent) !important;
  }
}
