.education {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 6rem 1rem 0;
  scrollbar-width: thin;
  scrollbar-color: var(--outline) transparent;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  gap: var(--gap-md);
  width: var(--screen-width);

  > div {
    scroll-snap-align: start;
    border: 1px solid var(--outline);
    border-radius: var(--radius-lg);
    padding: var(--gap-md);
    max-width: 24rem;
    flex-shrink: 0;
    display: flex;
    gap: var(--gap-xs);
    flex-direction: column;
    box-shadow: var(--shadow-sm);

    .degree {
      display: flex;
      gap: var(--gap-xs);
      align-items: center;
      justify-content: space-between;

      .distinction {
        font-size: 0.7rem;
        background-color: var(--accentContainer);
        color: var(--onAccentContainer);
        padding: 0.1rem 0.5rem;
        border-radius: var(--radius-sm);
      }

      .degree-name {
        font-size: 1.1em;
        font-weight: 500;
      }
    }

    .institution {
      display: flex;
      gap: var(--gap-sm);
      justify-content: space-between;

      img {
        height: 4rem;
        max-width: calc(var(--line-width) / 10);
        object-fit: contain;
      }

      p {
        font-weight: 500;
        color: var(--accent);
        &.years {
          font-size: 0.9rem;
          color: var(--onSurfaceDim);
        }
      }
    }

    .thesis {
      font-size: 0.9rem;
      font-style: italic;
    }

    .supervisors {
      font-size: 0.8rem;
    }

    .description {
      font-size: 0.9rem;
    }
  }
}

.education-swipe {
  text-align: center;
  font-style: italic;
}
