.experience {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 0 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--outline) transparent;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  gap: var(--gap-md);
  width: var(--screen-width);

  > div {
    scroll-snap-align: start;
    border: 1px solid var(--outline);
    border-radius: var(--radius-lg);
    padding: var(--gap-md);
    max-width: 20rem;
    flex-shrink: 0;
    display: flex;
    gap: var(--gap-xs);
    flex-direction: column;
    box-shadow: var(--shadow-sm);

    .institution {
      display: flex;
      gap: var(--gap-sm);
      justify-content: space-between;
      img {
        height: 3rem;
        max-width: calc(var(--line-width) / 10);
        object-fit: contain;
      }
    }

    .title {
      font-size: 1.1em;
      font-weight: 500;
    }

    .description {
      font-size: 0.9em;
    }
  }
}

.experience-swipe {
    text-align: center;
    font-style: italic;
  }
  