.featured-media {
  background: var(--surfaceDim);
  padding: var(--gap-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
  justify-content: center;

  a {
    img {
      height: 3rem;
      max-width: min(9rem, calc(var(--line-width) / 4));
      object-fit: contain;
    }
  }
}
