.featured-media {
  background: var(--surfaceDim);
  padding: var(--gap-md);
  border-radius: var(--radius-md);
  box-shadow: 0 2px 8px 0 oklch(from var(--outline) l c h / 0.04);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
  justify-content: center;

  a {
    img {
      height: 3rem;
      max-width: 
      max(8rem, calc(var(--line-width) / 7));
      object-fit: contain;
    }
  }
}
