video {
  border-radius: var(--radius-lg);
  border: 0.5rem solid var(--outlineDim);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nemo-box {
  background: var(--surfaceDim);
  padding: var(--gap-lg);
  border-radius: var(--radius-lg);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: var(--shadow-sm);
  display: flex;
  gap: var(--gap-sm);
  flex-direction: column;
  
  img {
    height: 2.5rem;
    max-width: 100%;
    object-fit: contain;
    margin-bottom: var(--gap-md);
  }

  p + p {
    display: block;
    font-style: italic;
    font-size: 0.9em;
    color: var(--onSurfaceDim);
  }

  a {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-md);
  }
}
