.topic-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xs);

  span {
    padding: var(--gap-sm) var(--gap-md);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    border-radius: var(--radius-sm);
    background-color: var(--surfaceDim);
    color: var(--onSurface);

    &.active {
      background-color: var(--accentContainer);
      color: var(--onAccentContainer);
    }

    &.selected {
      background-color: var(--accent);
      color: var(--onAccent);
    }
  }
}

.topic-desc {
  border-left: 4px solid var(--accent);
  padding: var(--gap-md);
}

.reference {
  container-type: inline-size;
  inline-size: var(--line-width);
  display: grid;
  grid-template-areas:
    "year source topic"
    "year title title"
    "gap authors authors"
    "badges abstract abstract";
  grid-template-columns: min-content 1fr 1fr;
  transition: 0.3s ease;
  padding: var(--gap-md);
  background-image: url("/public/groovepaper.png");
  background-repeat: repeat;
  border-radius: var(--radius-md);
  gap: 0 var(--gap-md);
  align-items: start;
  border: 1px solid var(--outlineDim);
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 4px 8px 0px oklch(from var(--outline) l c h / 0.1),
    0 8px 3px -6px oklch(from var(--outline) l c h / 0.1);

  &:hover {
    border-color: var(--outline);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px oklch(from var(--outline) l c h / 0.1),
      0 8px 10px -6px oklch(from var(--outline) l c h / 0.1);
  }

  .source {
    grid-area: source;
    align-self: end;
  }

  .year {
    grid-area: year;
    justify-self: center;
    align-self: center;
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .topic {
    grid-area: topic;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--onAccentContainer);
    background-color: var(--accentContainer);
    border-radius: var(--radius-sm);
    padding: 0 var(--gap-sm);
    justify-self: end;
    align-self: center;
    white-space: nowrap;
    overflow-x: scroll;
    max-width: calc(100% - var(--gap-xs));
  }

  .title {
    grid-area: title;

    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.2s ease;
      font-size: 1.4rem;
      letter-spacing: -0.01rem;
      line-height: 1.2;
      font-weight: 500;

      &:hover {
        color: var(--accent);
      }
    }

    span {
      font-size: 0.8rem;
      color: var(--onSurfaceDim);
      margin-left: 0.5rem;
    }
  }

  .badges {
    grid-area: badges;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .authors {
    grid-area: authors;

    margin: var(--gap-md) 0;

    .author-match {
      text-decoration: underline;
    }

    .author-toggle {
      transition: opacity 2s ease, width 0s ease;
    }
    .author-ellipsis,
    .author-toggle {
      display: inline-block;
      text-wrap-mode: nowrap;
    }

    .author-match,
    .author-visible,
    .author-ellipsis,
    &.expanded .author-toggle {
      margin-right: 0.5ch;
    }

    .author-ellipsis,
    &.expanded .author-toggle {
      width: fit-content;
      opacity: 1;
    }

    .author-toggle,
    &.expanded .author-ellipsis {
      width: 0;
      opacity: 0;
      margin-right: 0;
    }

    &:not(.expanded):hover {
      opacity: 0.8;
    }

    &:not(.expanded) {
      cursor: pointer;
    }
  }

  .abstract {
    grid-area: abstract;
    padding: var(--gap-sm);
    border: 1px solid var(--outlineDim);
    background-color: var(--surface);
    border-radius: var(--radius-sm);

    div {
      overflow: scroll;
      max-height: 230px;
      font-size: 0.8rem;
      line-height: 1.5;
      color: var(--onSurface);
    }
  }
}

@media (max-width: 768px) {
  .topic-tags {
    flex-direction: column;
  }

  .reference {
    grid-template-areas:
      "year topic"
      "source source"
      "title title"
      "authors authors"
      "abstract abstract"
      "badges badges";
    grid-template-columns: 1fr 3fr;

    .title {
      font-size: 1.2rem;
    }

    .year {
      justify-self: start;
    }

    .badges {
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: var(--gap-md);
    }
  }
}

.endocrinology {
  --hue: 15deg;
}

.access-to-medicine {
  --hue: 195deg;
}

.clinical-trial-transparency {
  --hue: 270deg;
}
