@font-face {
  font-family: "Finlandica";
  src: url("BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
  font-display: swap;
}

:root {
  --canvas-color: oklch(94% 13% 94deg);
  --canvas-var1: oklch(from var(--canvas-color) calc(l - 0.2) calc(c + 0.06) h);
  --canvas-var2: oklch(from var(--canvas-color) calc(l - 0.2) c h);

  --text-color: oklch(0% 0 0);
  --dye-one: oklch(40% 42% 29deg);
  --dye-two: oklch(47% 48% 29deg);r
  --dye-three: oklch(69% 38% 67deg);

  --linewidth: 50rem;
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;

  --footer-height: 200px;
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Finlandica", sans-serif;
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  font-variation-settings: "wdth" 86.7334, "wght" 264.883;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

::selection {
  background-color: var(--dye-one);
  text-shadow: 0 0 1px var(--dye-three);
  color: var(--dye-three);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--linewidth);
  padding: var(--gap-sm);
  gap: var(--gap-md);
  overflow-y: scroll;
  margin: 0;

  background: var(--canvas-color);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--canvas-var1);
  z-index: -1;
  opacity: 0;
  animation: backgroundTransition linear;
  animation-timeline: scroll();
  animation-range: calc(100% - 2 * var(--footer-height)) 100%;
}

h1,
h2,
h3 {
  background-image: radial-gradient(var(--dye-one), var(--dye-two));
  background-clip: text;
  color: transparent;
  filter: blur(0.1px);
  font-variation-settings: "wdth" 105, "wght" 500;
}

h1 {
  font-size: 5rem;
  margin: 0;
  transform: rotate(-1deg);
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--gap-sm);
  transform: rotate(-1deg);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: var(--gap-xs);
}

section {
  margin-bottom: var(--gap-lg);
}

.sarai {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  object-fit: cover;
  width: calc(var(--linewidth) * 0.5);
  float: right;
  margin: var(--gap-md);

  animation-name: rotateIn;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: scroll();
}

.sarai-wrap {
  /* filter: drop-shadow(-4px 6px 2px var(--canvas-var2)) drop-shadow(-6px 7px 1px var(--canvas-color))
    drop-shadow(-4px 6px 2px var(--canvas-var1)); */
}

.deer {
  position: absolute;
  top: 100vh;
  left: var(--linewidth);
  height: calc(0.5 * var(--linewidth));
}

h2,
h3,
p,
li,
blockquote,
img {
  animation-name: scrollIn;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timeline: view(block 80% 0%);
}

@keyframes rotateIn {
  from {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes scrollIn {
  0% {
    filter: blur(20px) opacity(0) grayscale(1);
  }
  50% {
    filter: blur(10px) opacity(0.5) grayscale(1);
  }
  100% {
    filter: blur(0px) opacity(1) grayscale(0);
  }
}

@keyframes backgroundTransition {
  0% {
    opacity: 1;
    clip-path: polygon(0% 100%, 0% 100%, 25% 100%, 55% 100%, 100% 100%, 100% 100%);
  }
  100% {
    opacity: 1;
    clip-path: polygon(
      0% 100%,
      0% calc(100% - var(--footer-height) - 20px),
      25% calc(100% - var(--footer-height) - 40px),
      55% calc(100% - var(--footer-height) - 10px),
      100% calc(100% - var(--footer-height) - 40px),
      100% 100%
    );
  }
}
