@font-face {
  font-family: "Finlandica";
  src: url("BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
  font-display: swap;
}

:root {
  --linewidth: 50rem;
  --max-width: 1920px;
  --black: oklch(0 0 0);
  --white: oklch(0.87 0.12 69.88);
  --container-border: 1rem solid var(--white);

  --grey-dark: oklch(from var(--white) calc(l + 0.1) c h);
  --grey: oklch(from var(--white) calc(l + 0.2) c h);
  --grey-light: oklch(from var(--white) calc(l + 0.3) c h);

  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
}

* {
  box-sizing: border-box;
  color: var(--black);
  font-family: "Finlandica", sans-serif;
  font-size: 1rem;
  hyphens: auto;
  line-height: 1.5;
  font-variation-settings: "wdth" 86.7334, "wght" 264.883;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--linewidth);
  background: var(--white);
  padding: var(--gap-sm);
  gap: var(--gap-md);
  overflow-y: scroll;
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin: 0;
}

section {
  margin-bottom: var(--gap-lg);
}

.intro {
  margin: var(--gap-lg) 0;
}

.intro .subtitle {
  font-size: 1.2rem;
  color: var(--grey-dark);
}

h2 {
  font-size: 2rem;
  margin-bottom: var(--gap-sm);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: var(--gap-xs);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: var(--gap-xs);
}

blockquote {
  border-left: 4px solid var(--grey-light);
  padding-left: var(--gap-sm);
  margin: var(--gap-md) 0;
  font-style: italic;
}

.contact a {
  color: var(--black);
  text-decoration: underline;
}

.contact a:hover {
  opacity: 0.8;
}
